@import 'tailwindcss';

@plugin "@tailwindcss/typography";

@layer base {
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply font-medium tracking-tight;
  }
}

@utility container {
  margin: 0 auto;
  padding: 0 2rem;
}

@custom-variant dark (&:where(.dark, .dark *));

@theme inline {
  --font-sans: var(--font-albert-sans);
  --color-dark-blue: #242d65;
  --color-medium-blue: #355BA5;
  --color-light-blue: #E3E8F2;
}
