@import 'tailwindcss';

@plugin "@tailwindcss/typography";

@layer base {

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply font-medium tracking-tight;
  }
}

@utility container {
  margin: 0 auto;
  padding: 0 2rem;
}

@custom-variant dark (&:where(.dark, .dark *));

@theme inline {
  --font-sans: var(--font-albert-sans);
  --color-dark-blue: #242d65;
  --color-medium-blue: #355ba5;
  --color-light-blue: #e3e8f2;
  --color-gray: #4c4c4c;
  --color-yellow: #ffcf06;
  --color-whisper-blue: #e3e8f2;
}


.crossSize svg , .crossSize {


  @media (max-width: 1024px) {
      width: 400px !important;
      height: 400px !important;
  }

  @media (max-width: 784px) {
      width: 200px !important;
      height: 200px !important;
  }

}

